Wesley Schwengle <wesley@schwengle.net> <waterkip@users.noreply.github.com>
Wesley Schwengle <wesley@schwengle.net> <gitlab@opperschaap.net>
Wesley Schwengle <wesley@schwengle.net> <wesley@mintlab.nl>
Mike Friedman <friedo@friedo.com> <mike.friedman@10gen.com>
